[submodule "icy-swap-evm"]
	path = icy-swap-evm
	url = https://github.com/dwarvesf/contract-icy-swap
[submodule "dfg-bridge"]
	path = dfg-bridge
	url = https://github.com/dwarvesf/dfg-bridge
[submodule "icy-btc/lib/forge-std"]
	path = icy-btc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "icy-btc/lib/solmate"]
	path = icy-btc/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "icy-btc/lib/solady"]
	path = icy-btc/lib/solady
	url = https://github.com/vectorized/solady
